<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
</head>

<body>
    <form>
        <h1>Signup</h1>

        <input type="text" value="" aria-label="username" />
        <input type="password" value="" aria-label="password" />
        <input type="password" value="" aria-label="confirm password" />

        <button type="submit">Signup</button>
    </form>
</body>

</html>